---
BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'true'
ColumnLimit: '120'
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments

AllowShortCompoundRequirementOnASingleLine : 'true'
AllowShortNamespacesOnASingleLine : 'true'
BreakBeforeConceptDeclarations: Never
BreakTemplateDeclarations: MultiLine